<% songs.forEach((song, index)=> { %>
    <div class="song-row-item" id="<%= song.id %>"
        style="animation-delay: calc(30s / <%= songs.length %> * <%= songs.length - index %> * -1); --duration: 30s;">
        <img src="<%= song.albumCover %>" class="song-cover" alt="<%= song.title %>" width="75px" height="75px">
        <div class="title-artist font-syne">
            <div class="song-title">
                <%= song.title %>
            </div>
            <div class="album-name">
                <%= song.album %>
            </div>
        </div>
    </div>
    <% }); %>